.post{
  background-color: white;
  border : 1px solid lightgray;
  margin-bottom: 45px;
  
  }

.post__image{
  width : 100%;
  object-fit: contain;
  border-top:1px solid lightgray ;
  border-bottom: 1px solid lightgray;
}

.post__text{
  font-weight:normal;
  padding :1em;
}

.post__header{
  display:flex;
  align-items: center;
  padding :1em;

}

.post__avatar{
  margin-right: .7em;
}



@media(min-width : 481px ){
  .post-container{
    max-width:50%;
  }
  .post__header{
    padding:.5em;
  }
}

@media(min-width : 720px){
  .post-container{
    max-width: 50%;
  }
}