*{
  margin : 0;
}

body {
  font-size: 14px;
}
@media(min-width: 480px){
  body {
    font-size: 16px;
  }
}

.app{
  background-color: #fafafa;
}
.app__header{
  background-color: white;
  padding: 20px;
  border-bottom : 1px solid lightgray;

  object-fit :  contain;
}